/vectored_data.rar
/raw_data.csv
/new_vectored_data.csv
/new_data.csv
/face_landmarks.csv
/cam_test.py
/3_1_3_103156979.jpg
/2_1_3_103156979.jpg
/1_1_3_103156979.jpg
/UTKFace/
/models/
/images/
/face_landmarks/
/all_images/
/venv/
